<h4>How to select your ticket rate</h4>
<p>Educator tickets are available for either one and two days of the conference. For standard tickets, please click <a href="/tickets/orders/new">here</a>.</p>
<p>If your tickets are being paid for by your employer, please select the Employer funded rate.</p>
<p>If you are paying for your ticket out of your own pocket, please select the Self funded rate.</p>
<p>We aim to make PyCon UK as affordable as possible. <strong>Free and discounted tickets</strong> (and also financial grants to cover the costs of travel and accommodation) are available on application, through our <a href="/grants/applications/new">financial assistance programme</a>. All those who would find the cost of attending the conference hard to afford are encouraged to submit an application.</p>
<p>All prices include VAT at 20%.</p>
