<div class="row">
  <div class="col-8">
    <table class="table table-condensed">
      <tr>
        <th>Date</th>
        <td>{% if order.payment_required %}Unpaid{% else %}{{ order.stripe_charge_created|date }}{% endif %}</td>
      </tr>
      <tr>
        <th>Billing name</th>
        <td>{{ order.billing_name }}</td>
      </tr>
      <tr>
        <th>Billing address</th>
        <td>{{ order.billing_addr_formatted }}</td>
      </tr>
      <tr>
        <th>Total (excl. VAT)</th>
        <td>£{{ order.cost_excl_vat }}</td>
      </tr>
      <tr>
        <th>VAT</th>
        <td>£{{ order.vat }}</td>
      </tr>
      <tr>
        <th>Total (incl. VAT)</th>
        <td>£{{ order.cost_incl_vat }}</td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <h3>Ticket details</h3>

    <table class="table table-condensed">
      {% for detail in order.ticket_details %}
      <tr>
        <td>{{ detail.id }}</td>
        <td>{{ detail.name }}</td>
        <td>{{ detail.days }}</td>
        <td>£{{ detail.cost_incl_vat }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

