{% extends 'ironcage/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    {% if educator_order %}
        {% include './_educator_ticket_info.html' %}
    {% else %}
        {% include './_ticket_info.html' %}
    {% endif %}
  </div>

  <div class="col-md-6">
    {% include './_ticket_price_table.html' %}
  </div>
</div>

<div class="row">
  <div class="col">
    {% include 'tickets/_order_form.html' %}
  </div>
</div>
{% endblock %}

{% block json_data %}
var rates = {{ rates_data|safe }};
{% endblock %}
