.card {
  margin-bottom: 20px;
}
form label {
  font-weight: bold;
}
form label.btn {
  font-weight: normal;
}
.field-name {
  font-weight: bold;
}

input[type='checkbox'] {
  position: relative;
  top: -2px;
}

#price-table tr:first-child td, #price-table tr td:first-child {
    font-weight: bold;
}

#price-table tr td:first-child {
    width: 25%;
}
