.card {
  margin-bottom: 20px;
}
form label {
  font-weight: bold;
}
form label.btn {
  font-weight: normal;
}
.field-name {
  font-weight: bold;
}

input[type='checkbox'] {
  position: relative;
  top: -2px;
}

.btn-group-toggle.is-invalid~.invalid-feedback {
    display: block;
}

div.is-invalid > .invalid-feedback {
    display: block;
}

#price-table tr:first-child td, #price-table tr td:first-child {
    font-weight: bold;
}

#price-table tr td:first-child {
    width: 25%;
}

.snake-option {
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 4px;
}

.snake-option.selected {
  border: 3px solid red;
}

.schedule-table td {
  border: 1px solid grey;
}

.schedule-table tr {
  height: 8em;
}

.schedule-table tr td p:last-child {
  margin-bottom: 0;
}

.schedule-table .break {
  background-color: pink;
  vertical-align: middle;
  text-align: center;
}
