coverage
dj-database-url
django
django_slack
django-bootstrap4
django-dotenv
django-import-export
flake8
gunicorn
icalendar
pip-tools
psycopg2-binary
pypng
pyqrcode
pyyaml
stripe
structlog[dev]  # the [dev] is for coloured output
whitenoise
