
<p>Children’s tickets are £6 per child and include a sandwich lunch.</p>
<p>Children will need to be accompanied by a responsible adult, who will remain at the event during the day.</p>
<p>Lunch will be provided for accompanying adults, there is no extra charge for an adult’s lunch.</p>
<p>If you need to bring younger children with you in order to be able to accompany a child, please do, but let us know.</p>
<p>Please note that only one ticket can be purchased at a time, but multiple orders can be placed.</p>
<p>All prices include VAT at 20%.</p>
