{% extends 'ironcage/base.html' %}

{% block content %}
{% for ticket in tickets %}
    <h1>Dinner Ticket ({{ ticket.item_id }})</h1>

    <div class="row">
      <div class="col-md-6">
        {% include './_ticket_details.html' %}
      </div>
    </div>

    {% if ticket.item.is_editable %}
      <a class="btn btn-primary" href="{% url 'extras:dinner_ticket_edit' ticket.item_id %}" role="button">Update your ticket</a>
    {% endif %}
    {% if not forloop.last %}
      <hr>
    {% endif %}
{% endfor %}
{% endblock %}
