<div class="card">
  <div class="card-header">Basic information</div>
  <div class="card-body">
    <div class="row">
      <div class="col-4 field-name">
        Name
      </div>
      <div class="col-4">
        {{ user.name }}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4 field-name">
        Email
      </div>
      <div class="col-4">
        {{ user.email_addr }}
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">Requirements</div>
  <div class="card-body">
    <div class="row">
      <div class="col-4 field-name">
        Accessibility
      </div>
      <div class="col-4">
        {% if user.accessibility_reqs_yn == None %}
        unknown
        {% elif user.accessibility_reqs_yn %}
        {{ user.accessibility_reqs }}
        {% else %}
        none
        {% endif %}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4 field-name">
        Childcare
      </div>
      <div class="col-4">
        {% if user.childcare_reqs_yn == None %}
        unknown
        {% elif user.childcare_reqs_yn %}
        {{ user.childcare_reqs }}
        {% else %}
        none
        {% endif %}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4 field-name">
        Dietary
      </div>
      <div class="col-4">
        {% if user.dietary_reqs_yn == None %}
        unknown
        {% elif user.dietary_reqs_yn %}
        {{ user.dietary_reqs }}
        {% else %}
        none
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if user.get_ticket is not None %}
<div class="card">
  <div class="card-header">UK Python Association</div>
  <div class="card-body">
    <div class="row">
      <div class="col-4 field-name">
        Membership
      </div>
      <div class="col-4">
        {% if user.is_ukpa_member == None %}
        unknown
        {% elif user.is_ukpa_member %}
        Yes
        {% else %}
        No
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="card">
  <div class="card-header">Demographics</div>
  <div class="card-body">
    {% if user.dont_ask_demographics %}
      <p>You have opted not to share demographic information with us.</p>
    {% else %}
      <div class="row">
        <div class="col-4 field-name">
          Year of birth
        </div>
        <div class="col-4">
          {{ user.year_of_birth|default:"unknown" }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-4 field-name">
          Gender
        </div>
        <div class="col-4">
          {{ user.gender|default:"unknown" }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-4 field-name">
          Ethnicity
        </div>
        <div class="col-4">
          {% if 'please describe' in user.ethnicity %}
            {{ user.ethnicity_free_text }}
          {% else %}
            {{ user.ethnicity|default:"unknown" }}
          {% endif %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-4 field-name">
          Nationality
        </div>
        <div class="col-4">
          {{ user.nationality|default:"unknown" }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-4 field-name">
          Country of residence
        </div>
        <div class="col-4">
          {{ user.country_of_residence|default:"unknown" }}
        </div>
      </div>
    {% endif %}
  </div>
</div>
