{% extends 'ironcage/base.html' %}

{% load bootstrap4 %}

{% block content %}
<div class="row">
  <div class="col">
    <form method="post">
      {% csrf_token %}

      <div class="card">
        <div class="card-header">Basic information</div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <label>First Name</label>
              <small class="form-text text-muted">This will appear on your conference badge</small>
            </div>
            <div class="col-8">
              {% bootstrap_field form.first_name layout='inline' %}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-4">
              <label>Last Name</label>
              <small class="form-text text-muted">Optional; will appear on your conference badge</small>
            </div>
            <div class="col-8">
              {% bootstrap_field form.last_name layout='inline' %}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-4">
              <label>Email address</label>
            </div>
            <div class="col-8">
              {% bootstrap_field form.email_addr layout='inline' %}
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Requirements</div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <label>Do you have any accessibility requirements?</label>
            </div>
            <div class="col-8">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-light{% if form.accessibility_reqs_yn.value == True %} active{% endif %}">
                  <input type="radio" name="accessibility_reqs_yn" value="2" {% if form.accessibility_reqs_yn.value == True %} checked{% endif %}>Yes
                </label>
                <label class="btn btn-light{% if form.accessibility_reqs_yn.value == False %} active{% endif %}">
                  <input type="radio" name="accessibility_reqs_yn" value="3" {% if form.accessibility_reqs_yn.value == False %} checked{% endif %}>No
                </label>
              </div>
              {% bootstrap_field form.accessibility_reqs layout='inline' placeholder='Please tell us more' %}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-4">
              <label>Do you have any childcare requirements?</label>
            </div>
            <div class="col-8">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-light{% if form.childcare_reqs_yn.value == True %} active{% endif %}">
                  <input type="radio" name="childcare_reqs_yn" value="2" {% if form.childcare_reqs_yn.value == True %} checked{% endif %}>Yes
                </label>
                <label class="btn btn-light{% if form.childcare_reqs_yn.value == False %} active{% endif %}">
                  <input type="radio" name="childcare_reqs_yn" value="3" {% if form.childcare_reqs_yn.value == False %} checked{% endif %}>No
                </label>
              </div>
              {% bootstrap_field form.childcare_reqs layout='inline' placeholder='Please tell us more' %}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-4">
              <label>Do you have any dietary requirements?</label>
            </div>
            <div class="col-8">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-light{% if form.dietary_reqs_yn.value == True %} active{% endif %}">
                  <input type="radio" name="dietary_reqs_yn" value="2" {% if form.dietary_reqs_yn.value == True %} checked{% endif %}>Yes
                </label>
                <label class="btn btn-light{% if form.dietary_reqs_yn.value == False %} active{% endif %}">
                  <input type="radio" name="dietary_reqs_yn" value="3" {% if form.dietary_reqs_yn.value == False %} checked{% endif %}>No
                </label>
              </div>
              {% bootstrap_field form.dietary_reqs layout='inline' placeholder='Please tell us more' %}
            </div>
          </div>
        </div>
      </div>

      {% if user.get_ticket is not None %}
      <div class="card">
        <div class="card-header">UK Python Association (UKPA)</div>
        <div class="card-body">
          <p>You can read more details about the UKPA and becoming a member on the <a href="http://2017.pyconuk.org/ukpa/">conference website</a></p>
          <div class="row">
            <div class="col-4">
              <label>Do you wish to become a member of the UKPA?</label>
            </div>
            <div class="col-8">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-light{% if form.is_ukpa_member.value == True %} active{% endif %}">
                  <input type="radio" name="is_ukpa_member" value="2" {% if form.is_ukpa_member.value == True %} checked{% endif %}>Yes
                </label>
                <label class="btn btn-light{% if form.is_ukpa_member.value == False %} active{% endif %}">
                  <input type="radio" name="is_ukpa_member" value="3" {% if form.is_ukpa_member.value == False %} checked{% endif %}>No
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="card">
        <div class="card-header">Demographics</div>
        <div class="card-body">
          <p>All fields are optional, and if you'd prefer not to share this information with us, just click "Don't ask me about this" below.</p>
          <div class="row">
            <div class="col-4">
              <label>Don't ask me about this</label>
            </div>
            <div class="col-8">
              <input type="checkbox" name="dont_ask_demographics" id="id_dont_ask_demographics"{% if form.dont_ask_demographics.value == True %} checked{% endif %} />
            </div>
          </div>
          <hr class="demographics-field">
          <div class="row demographics-field">
            <div class="col-4">
              <label>Year of birth</label>
            </div>
            <div class="col-8">
              {% bootstrap_field form.year_of_birth layout='inline' %}
            </div>
          </div>
          <hr class="demographics-field">
          <div class="row demographics-field">
            <div class="col-4">
              <label>Gender</label>
            </div>
            <div class="col-8">
              {% bootstrap_field form.gender layout='inline' %}
              <input type="text" maxlength="100" class="form-control" placeholder="Please specify" id="id_gender_free_text" />
            </div>
          </div>
          <hr class="demographics-field">
          <div class="row demographics-field">
            <div class="col-4">
              <label>Ethnicity</label>
            </div>
            <div class="col-8">
              {% bootstrap_field form.ethnicity layout='inline' %}
              {% bootstrap_field form.ethnicity_free_text layout='inline' %}
            </div>
          </div>
          <hr class="demographics-field">
          <div class="row demographics-field">
            <div class="col-4">
              <label>Nationality</label>
            </div>
            <div class="col-8">
              {% bootstrap_field form.nationality layout='inline' %}
              <input type="text" maxlength="100" class="form-control" placeholder="Please specify" id="id_nationality_free_text" />
            </div>
          </div>
          <hr class="demographics-field">
          <div class="row demographics-field">
            <div class="col-4">
              <label>Country of residence</label>
            </div>
            <div class="col-8">
              {% bootstrap_field form.country_of_residence layout='inline' %}
              <input type="text" maxlength="100" class="form-control" placeholder="Please specify" id="id_country_of_residence_free_text" />
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Update my profile</button>
    </form>
  </div>
</div>
{% endblock %}
