{% extends 'ironcage/base.html' %}

{% block content %}
<div class="row">
  <div class="col">
    {% include './_profile_details.html' %}

    <a href="{% url 'accounts:edit_profile' %}" role="button" class="btn btn-primary">Update my profile</a>
  </div>
</div>
{% endblock %}

{% block json_data %}
var isContributor = "{{ is_contributor|safe }}" == "True";
var isOrganiser = "{{ is_organiser|safe }}" == "True";
var name = "{{ request.user.name|safe }}";
var snake = "{{ request.user.badge_snake_colour|safe }}";
var extras = "{{ request.user.badge_snake_extras|safe }}";
var company = "{% if request.user.badge_company %}{{ request.user.badge_company|safe }}{% endif %}";
var twitter = "{% if request.user.badge_twitter %}{{ request.user.badge_twitter|safe }}{% endif %}";
var pronoun = "{% if request.user.badge_pronoun %}{{ request.user.badge_pronoun|safe }}{% endif %}";
var ticketRate;
{% endblock %}
