<p>
    This privacy policy sets out how PyCon UK Society Limited uses and protects any information that you give PyCon UK Society Limited when you use this website.
</p>
<p>
    PyCon UK Society Limited is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.
</p>
<p>
    PyCon UK Society Limited may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 4th August 2018.
</p>

<h3>What we collect</h3>
<p>
    We may collect the following information:
    <ul>
        <li>name</li>
        <li>contact information including email address and billing address</li>
        <li>demographic information such as gender and nationality</li>
        <li>requirements for childcare, assistance or dietary needs</li>
        <li>the first names, assistance and dietary needs of any children you are registering for children’s day</li>
        <li>billing details</li>

    </ul>
</p>

<h3>What we do with the information we gather</h3>
<p>
    We require this information to understand your needs and provide you with a better conference, and in particular for the following reasons:
    <ul>
        <li>Ensuring that we provide an inclusive conference</li>
        <li>So that we can monitor demographic trends in conference attendance.  We may also take this information into account when selecting the conference programme.</li>
        <li>We will contact you by email to give you information about the conference and to ask for feedback after the event.</li>
        <li>We will tell you about other events we run if you give us permission.</li>
        <li>We will retain information about your attendance at the conference (including call for proposal submissions and financial assistance applications) for three years.  This is to allow us to ensure that we have a broad range of speakers over time, and that financial assistance is distributed fairly.</li>
        <li>The details of children registered for children’s day are used to produce badges, confirm attendance and ensure that we are able to provide an event which is accessible and meets any special dietary needs.</li>
        <li>We share your billing name and email address with Stripe for the purposes of processing your card payment. They collect your billing details for the purposes of processing your card payment. Their privacy policy can be found at <a href="https://stripe.com/gb/privacy">https://stripe.com/gb/privacy</a></li>
        <li>We may share your data with the UK Python Association but we will not sell or share any information to any organisation other than the UK Python Association unless required to do so by law or unless explicitly detailed elsewhere in this Privacy Policy.</li>
    </ul>
</p>

<h3>Security</h3>
<p>
    We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.
</p>

<h3>Where we store your data</h3>
<p>
    It is possible that we may collect transfer data from you regarding locations outside of the European Economic Area. At any time you provide personal data, you agree to a transfer for processing and storage. We take all reasonable steps to ensure the safety of the data transfer in agreement with this privacy policy. The primary data store for this website is located inside of the European Economic Area.
</p>

<h3>How we use cookies</h3>
<p>
    A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie allows web applications to respond to you as an individual.
</p>
<p>
    We use cookies to identify you to the website and ensure that you are able to log on and view and alter your information. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.
</p>
<p>
    You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.
</p>

<h3>Links to other websites</h3>
<p>
    Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.
</p>

<h3>Controlling your personal information</h3>
<p>
    You may choose to restrict the collection or use of your personal information in the following ways:
    <ul>
        <li>if you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or emailing us at pyconuk-committee@uk.python.org</li>
    </ul>
</p>

<p>
    We will not sell, distribute or lease your personal information to third parties other than the UK Python Association unless we have your permission or are required by law to do so.
</p>

<p>
    You may request details of personal information which we hold about you under the Data Protection Act 1998. If you would like a copy of the information held on you please write to pyconuk-committee@uk.python.org.
</p>

<p>
    If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible at the above address. We will promptly correct any information found to be incorrect.
</p>
