<ul>
    <li>
        <strong>Access to conference</strong> Access to the conference and conference events is at the discretion of the conference director and venue management. Denial of access to the venue will not guarantee a refund.
    </li>
    <li>
        <strong>Code of conduct</strong> You should familiarise yourself with the code of conduct. In the case of a code of conduct violation, you may be required to leave the conference, without a refund.
    </li>
    <li>
        <strong>Refunds</strong> We can refund your tickets in full up to a week before the conference.  Please contact the committee, quoting your order number, to arrange a refund.
    </li>
    <li>
        <strong>Communication</strong> We will contact you by email to give you information about the conference and to ask for feedback after the event.
    </li>
    <li>
        <strong>Age of attendees</strong> We welcome children under the age of 16 as conference delegates, but they must be accompanied at all times by a responsible adult over the age of 18. We provide free creche facilities for parents who do not wish to register their children as delegates.
    </li>
    <li>
        <strong>Consent for account</strong> By accepting these terms and conditions, you confirm that you are aged over 16 years of age. If a ticket has been purchased for someone under 16 years of age, please contact pyconuk@uk.python.org for assistance in claiming the ticket.
    </li>
    <li>
        <strong>Young Coders' Day</strong> By purchasing a ticket for Young Coders' day, you confirm that you have consent from the parent or guardian of the registered child to allow them to attend the event.
    </li>
</ul>
