{% extends 'ironcage/base.html' %}

{% block content %}

{{ form.errors }}

<form method="post" action="{% url 'register' %}" class="form-horizontal">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}" />

  <div class="form-group row">
    <label for="{{ form.first_name.auto_id }}" class="col-sm-2 col-form-label">{{ form.first_name.label }}</label>
    <div class="col-sm-10">
      {{ form.first_name }}
    </div>
  </div>

  <div class="form-group row">
    <label for="{{ form.last_name.auto_id }}" class="col-sm-2 col-form-label">{{ form.last_name.label }}</label>
    <div class="col-sm-10">
      {{ form.last_name }} <small class="form-text text-muted">Optional</small>
    </div>

  </div>

  <div class="form-group row">
    <label for="{{ form.email_addr.auto_id }}" class="col-sm-2 col-form-label">{{ form.email_addr.label }}</label>
    <div class="col-sm-10">
      {{ form.email_addr }}
    </div>
  </div>

  <div class="form-group row">
    <label for="{{ form.password1.auto_id }}" class="col-sm-2 col-form-label">{{ form.password1.label }}</label>
    <div class="col-sm-10">
      {{ form.password1 }}
    </div>
  </div>

  <div class="form-group row">
    <label for="{{ form.password2.auto_id }}" class="col-sm-2 col-form-label">{{ form.password2.label }}</label>
    <div class="col-sm-10">
      {{ form.password2 }}
    </div>
  </div>

  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Create your account</button>
    </div>
  </div>
</form>

{% endblock %}
