{% extends 'ironcage/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
  <p>Hello, {{ request.user.name }}</p>
{% endif %}

<p>Welcome to the PyCon UK 2018 conference registration office.</p>

<p>The conference takes place at <a href="https://2018.pyconuk.org/travel-accommodation/travel/" target="_blank">Cardiff City Hall</a> from Saturday 15th to Wednesday 19th September.  You can find out more about the conference <a href="https://2018.pyconuk.org/" target="_blank">on our website</a>.</p>

{% if ticket %}
  <p>You have a ticket for {{ ticket.days_sentence }}.</p>
{% endif %}

<div class="row">
  <div class="col">
    <div class="card bg-danger text-dark">
      <div class="card-header"><h2>Tickets</h2></div>
      <div class="card-body">
        {% if ticket %}
          <a href="{% url 'tickets:ticket' ticket.ticket_id %}">View your conference ticket</a>
          <hr>
          <a href="{% url 'accounts:profile' %}">Update your profile</a>
        {% endif %}

        {% if orders|length == 0 %}
          {% if ticket_sales_open %}
            <a href="{% url 'tickets:new_order' %}">Order conference tickets</a>
          {% endif %}
        {% elif orders|length == 1 %}
          <hr>
          <a href="{% url 'orders:order' orders.0.order_id %}">View your order</a>
          {% if ticket_sales_open %}
            <hr>
            <a href="{% url 'tickets:new_order' %}">Order more conference tickets</a>
          {% endif %}
        {% else %}
          <hr>
          View your orders:
          <ul>
            {% for order in orders %}
              <li><a href="{% url 'orders:order' order.order_id %}">Order {{ order.order_id }}</a> ({{ order.brief_summary }})</li>
            {% endfor %}
          </ul>
          {% if ticket_sales_open %}
            <hr>
            <a href="{% url 'tickets:new_order' %}">Order more conference tickets</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col col-12 col-xs-12 col-sm-12 col-md-6">
    <div class="card bg-warning text-dark">
      <div class="card-header"><h2>Call for Proposals</h2></div>
      <div class="card-body">
        {% if proposals|length == 0 %}
          {% if cfp_open %}
            <a href="{% url 'cfp:new_proposal' %}">Make a proposal to our Call for Proposals</a>
          {% endif %}
        {% elif proposals|length == 1 %}
          <a href="{% url 'cfp:proposal' proposals.0.proposal_id %}">View your proposal to our Call for Proposals</a> ({{ proposals.0.title }})
          {% if cfp_open %}
            <hr>
            <a href="{% url 'cfp:new_proposal' %}">Make another proposal to our Call for Proposals</a>
          {% endif %}
        {% else %}
          View your proposals to our Call for Proposals
          <ul>
            {% for proposal in proposals %}
            <li><a href="{% url 'cfp:proposal' proposal.proposal_id %}">{{ proposal.title }}</a></li>
            {% endfor %}
          </ul>
          {% if cfp_open %}
            <hr>
            <a href="{% url 'cfp:new_proposal' %}">Make another proposal to our Call for Proposals</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col col-12 col-xs-12 col-sm-12 col-md-6">
    <div class="card bg-primary">
      <div class="card-header"><h2>Financial Assistance</h2></div>
      <div class="card-body">
        {% if grant_application %}
          <a href="{% url 'grants:application' grant_application.application_id %}">View your application for financial assistance</a>
        {% else %}
          {% if grant_applications_open %}
            <a href="{% url 'grants:new_application' %}">Apply for financial assistance</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if ticket %}
  <p>We look forward to seeing you in Cardiff!</p>
{% else %}
  <p>We hope to see you in Cardiff!</p>
{% endif %}

<p>~ The PyCon UK Committee</p>
{% endblock %}
