{% extends 'ironcage/base.html' %}
{% load schedule_extras %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-8">
    <div class="card bg-warning text-dark">
      <div class="card-header">
        <h2>Subject to change</h2>
      </div>
      <div class="card-body">
        <p>The schedule is subject to change. However, we aim to keep this to a minimum and to avoid day changes.</p>
        <p>{% if request.user.is_anonymous %}When logged in, y{% else %}Y{% endif %}ou can use the calendar icon on each session to indicate which ones you’re particularly interested in attending. This will help us improve the scheduling and room allocations.</p>
      </div>
    </div>
    {% if not request.user.is_anonymous %}
    <div class="card bg-danger text-dark">
      <div class="card-header">
        <h2>Schedule via iCal</h2>
      </div>
      <div class="card-body">
        <p>You can get our full or your personalised schedule in iCal format to import into your favourite calendar app.</p>
        <p>To personalise - just click on the calendar icon on the items you wish to attend and they will be highlighted. They will then appear in the personalised iCal link.</p>
        <p>You can use these URLs to subscribe to the calendars and it will automatically update when the schedule changes.</p>
        <ul>
          <li>
            <a href="webcal://{{ request.get_host }}{% url 'schedule:ical' token=request.user.ical_token %}"><strong>Personalised Schedule</strong></a>
          </li>
          <li>
            <a href="webcal://{{ request.get_host }}{% url 'schedule:ical' token='full' %}"><strong>Full Schedule</strong></a>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}
    <p>
      <strong>Jump to day:</strong>
      <a href="#sat">Saturday 15th</a> &bull;
      <a href="#sun">Sunday 16th</a> &bull;
      <a href="#mon">Monday 17th</a> &bull;
      <a href="#tue">Tuesday 18th</a> &bull;
      <a href="#wed">Wednesday 19th</a>
    </p>
  </div>
</div>
<hr>

{% for day, days_sessions in sessions.items %}
  <div class="row">
    <div class="col">
      <h1 id="{{ day|back_to_date|date:"D"|lower }}">{{ day|back_to_date|date:"l dS" }}</h1>
      <table class="table table-striped schedule-table">
        <thead>
          <tr>
            <th scope="col" style="width: 5%"></th>
            {% for room in days_sessions.rooms %}
              <th scope="col" style="width: {{ days_sessions.rooms|width }}%">{# {{ room }} #}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for time in days_sessions.times %}
            <tr>
              <th scope="row">
                <div class="collapsed-table">{{ day|back_to_date|date:"l" }} {{ time }}</div>
                <div class="time">{{ time }}</div>
              </th>
              {% for session in days_sessions.matrix|index:forloop.counter0 %}
                  {% if session is None %}
                    <td class='no-session'></td>
                  {% elif session.spanned %}
                  {% else %}
                    <td class="{% if session.break_event %}break{% else %}selectable-schedule{% endif %} {% if session.ical_id in users_sessions %}selected{% endif %}" data-proposal="{{ session.ical_id }}" colspan="{{ session.colspan }}" rowspan="{{ session.rowspan }}">
                      <p>
                        {% if not session.break_event %}<a href="{% url 'schedule:view_proposal' proposal_id=session.id %}">{% endif %}
                          {{ session.title }}
                        {% if not session.break_event %}</a>{% endif %}
                      </p>
                      {% if not session.conference_event %}
                      <p class="presenter-name"><a href="{% url 'schedule:view_proposal' proposal_id=session.id %}">{{ session.name }}</a></p>
                      <p class="track-name">{{ session.track }}</p>
                      {% endif %}
                      {% if not request.user.is_anonymous and not session.break_event %}
                        {% if session.ical_id in users_sessions %}
                          <i class="fa fa-calendar-minus-o fa-lg selectable-interest" data-proposal="{{ session.ical_id }}" aria-hidden="true"></i>
                        {% else %}
                          <i class="fa fa-calendar-plus-o fa-lg selectable-interest" data-proposal="{{ session.ical_id }}" aria-hidden="true"></i>
                        {% endif %}
                      {% endif %}
                      <div class="collapsed-table">{% if not session.break_event %}<span class="room">{{ session.room }}</span>{% endif %}<span class="end-time">{% if session.rowspan > 1 %} Ends: {{ session.end_time }}{% endif %}</span></div>
                    </td>
                  {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endfor %}

{% endblock %}

{% block json_data %}
{% if not anonymous_user %}
var csrfToken = "{{ csrf_token }}"
{% endif %}
{% endblock %}

