{% extends 'ironcage/base.html' %}
{% load schedule_extras %}

{% block content %}
{% for day, days_sessions in sessions.items %}
  <div class="row">
    <div class="col">
      <h1>{{ day|date:"l dS" }}</h1>
      <table class="table table-striped schedule-table">
        <thead>
          <tr>
            <th scope="col" style="width: 5%"></th>
            {% for room in days_sessions.rooms %}
              <th scope="col" style="width: {{ days_sessions.rooms|width }}%">{{ room.name }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for time in days_sessions.times %}
            <tr>
              <th scope="row"><div class="collapsed-table">{{ day|date:"l" }} {{ time|time:"H:i" }}</div><div class="time">{{ time|time:"H:i" }}</div></th>
              {% for session in days_sessions.matrix|index:forloop.counter0 %}
                  {% if session is None %}
                    <td class='no-session'></td>
                  {% elif session.spanned %}
                  {% else %}
                    <td class="{% if session.break_event %}break{% else %}selectable-schedule{% endif %} {% if session.ical_id in users_sessions %}selected{% endif %}" data-proposal="{{ session.ical_id }}" colspan="{{ session.colspan }}" rowspan="{{ session.rowspan }}">
                      <p>{{ session.title }}</p>
                      {% if not session.conference_event %}
                      <p class="presenter-name">{{ session.name }}</small></p>
                      {% endif %}
                      <div class="collapsed-table">{% if not session.break_event %}<span class="room">{{ session.room }}</span>{% endif %}<span class="end-time">{% if session.rowspan > 1 %} Ends: {{ session.end_time|time:"H:i" }}{% endif %}</span></div>
                    </td>
                  {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endfor %}

{% endblock %}

{% block json_data %}
{% if not anonymous_user %}
var csrfToken = "{{ csrf_token }}"
{% endif %}
{% endblock %}

